body{
    background-image: url(Time.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    font-size: x-large ;
}

#psli{
    color:bisque;
}
